spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:postgresql://${RESOURCE_SERVICE_DB_HOST}:${RESOURCE_SERVICE_DB_PORT}/${RESOURCE_SERVICE_DB_NAME}
    username: ${RESOURCE_SERVICE_DB_USER}
    password: ${RESOURCE_SERVICE_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
aws:
  s3:
    bucketName: ${RESOURCE_SERVICE_AWS_S3_BUCKET}
    accessKey: ${RESOURCE_SERVICE_AWS_S3_ACCESS_KEY}
    secretKey: ${RESOURCE_SERVICE_AWS_S3_SECRET_KEY}
    region: ${RESOURCE_SERVICE_AWS_S3_REGION}